In [ ]:
import pandas as pd

bios = pd.read_csv('bios.csv')

print(bios.loc[(bios['height_cm'] > 210) & (bios['born_country'] == 'USA')])

        athlete_id                name   born_date         born_city  \
5681          5704        Walt Bellamy  1937-07-24          New Bern
5781          5804      Tommy Burleson  1952-02-24         Crossnore
5894          5919          Mel Counts  1941-10-16          Coos Bay
6106          6133     Marc Freiberger  1928-11-27          Amarillo
6281          6309      Darrall Imhoff  1938-10-11       San Gabriel
6379          6410          Joe Kleine  1962-01-04  Colorado Springs
6393          6424          Jon Koncak  1963-05-17      Cedar Rapids
6442          6473  Christian Laettner  1969-08-17            Angola
6615          6648        Tom McMillen  1952-05-26         Mansfield
6722          6755    Shaquille O'Neal  1972-03-06            Newark
6937          6972      David Robinson  1965-08-06          Key West
7012          7048     Daniel Santiago  1976-06-24    Tarpon Springs
112319      113575         Chris Kaman  1982-04-28           Wyoming
112366      113622       Dwight Howard  1985-12-08           Atlanta
118573      120309     Al-Farouq Aminu  1990-09-21           Atlanta
123850      126093      Tyson Chandler  1982-10-02           Hanford
132188      135037    Domantas Sabonis  1996-05-03          Portland
133332      136271      DeAndre Jordan  1988-07-21           Houston
142044      145640       Jahlil Okafor  1995-12-15        Fort Smith
142930      146560          Mike Tobey  1994-10-10            Monroe
143712      147367        JaVale McGee  1988-01-19             Flint

           born_region born_country            NOC  height_cm  weight_kg  \
5681    North Carolina          USA  United States      211.0       98.0
5781    North Carolina          USA  United States      223.0      102.0
5894            Oregon          USA  United States      213.0      102.0
6106             Texas          USA  United States      211.0       98.0
6281        California          USA  United States      211.0       98.0
6379          Colorado          USA  United States      211.0      122.0
6393              Iowa          USA  United States      213.0      113.0
6442          New York          USA  United States      211.0      107.0
6615      Pennsylvania          USA  United States      212.0       95.0
6722        New Jersey          USA  United States      216.0      137.0
6937           Florida          USA  United States      216.0      107.0
7012           Florida          USA    Puerto Rico      213.0      111.0
112319        Michigan          USA        Germany      213.0      122.0
112366         Georgia          USA  United States      211.0      120.0
118573         Georgia          USA        Nigeria      211.0       98.0
123850      California          USA  United States      216.0      107.0
132188          Oregon          USA      Lithuania      211.0      109.0
133332           Texas          USA  United States      211.0      120.0
142044        Arkansas          USA        Nigeria      211.0        NaN
142930        New York          USA       Slovenia      213.0        NaN
143712        Michigan          USA  United States      213.0        NaN

         died_date
5681    2013-11-02
5781           NaN
5894           NaN
6106    2005-06-29
6281    2017-06-30
6379           NaN
6393           NaN
6442           NaN
6615           NaN
6722           NaN
6937           NaN
7012           NaN
112319         NaN
112366         NaN
118573         NaN
123850         NaN
132188         NaN
133332         NaN
142044         NaN
142930         NaN
143712         NaN